body{
    margin: 0 auto;
    background-color: #f8fafc;
    max-width: 800px;
    font-size: 12 px;
    font-family: "Helvetica", "Arial", sans-serif;
    color: #444;
}

p{
    line-height: 2;
}

h1, h2{
    line-height: 1.5;
    margin-top: 50px;
    color: #8B62BF;
    text-shadow: 0px 1px 1px #333333;
}

html {
    box-sizing:border-box;
    margin-left: 5px;
    margin-right: 5px;

}

* {
    box-sizing: inherit;
}


.page {
    max-width: 800px;
    margin: 100px auto;
    padding: 0 40px;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    body{
        background-color: #cdc3d9 ;
    }
   }
